<div class="tab-row">
	<div class='vendor-logo'>
		<img alt="vbox" src='images/vendor-logos/rhel.png'>
	</div>
	<div class='row-links'>
		<ul>
			<p><strong>RHEL 6</strong></p>
			<li><a href="https://ecsft.cern.ch/dist/cvmfs/cvmfs-2.7.3/cvmfs-2.7.3-1.el6.i686.rpm">2.7.3-1.el6.i686</a></li>
			<li><a href="https://ecsft.cern.ch/dist/cvmfs/cvmfs-2.7.3/cvmfs-2.7.3-1.el6.x86_64.rpm">2.7.3-1.el6.x86_64</a></li>
			<li><a href="https://ecsft.cern.ch/dist/cvmfs/cvmfs-2.7.3/cvmfs-fuse3-2.7.3-1.el6.x86_64.rpm">cvmfs-fuse3-2.7.3-1.el6.x86_64.rpm</a></li>
			<li><a href="https://ecsft.cern.ch/dist/cvmfs/cvmfs-2.7.3/cvmfs-fuse3-2.7.3-1.el6.i686.rpm">cvmfs-fuse3-2.7.3-1.el6.i686.rpm</a></li>
		</ul>

		<ul>
			<p><strong>RHEL 7</strong></p>
			<li><a href="https://ecsft.cern.ch/dist/cvmfs/cvmfs-2.7.3/cvmfs-2.7.3-1.el7.x86_64.rpm">cvmfs-2.7.3-1.el7.x86_64.rpm</a></li>
			<li><a href="https://ecsft.cern.ch/dist/cvmfs/cvmfs-2.7.3/cvmfs-fuse3-2.7.3-1.el7.x86_64.rpm">cvmfs-fuse3-2.7.3-1.el7.x86_64.rpm</a></li>
		</ul>

		<ul>
			<p><strong>RHEL 8</strong></p>
			<li><a href="https://ecsft.cern.ch/dist/cvmfs/cvmfs-2.7.3/cvmfs-2.7.3-1.el8.x86_64.rpm">cvmfs-2.7.3-1.el8.x86_64.rpm</a></li>
			<li><a href="https://ecsft.cern.ch/dist/cvmfs/cvmfs-2.7.3/cvmfs-fuse3-2.7.3-1.el8.x86_64.rpm">cvmfs-fuse3-2.7.3-1.el8.x86_64.rpm</a></li>
		</ul>
	</div>
</div>

<div class="tab-row">
	<div class='vendor-logo'>
		<img alt="vbox" src='images/vendor-logos/fedora.png'>
	</div>
	<div class='row-links'>
		<ul>
			<p><strong>Fedora 31</strong></p>
			<li><a href="https://ecsft.cern.ch/dist/cvmfs/cvmfs-2.7.3/cvmfs-2.7.3-1.fc31.x86_64.rpm">cvmfs-2.7.3-1.fc31.x86_64.rpm</a></li>
			<li><a href="https://ecsft.cern.ch/dist/cvmfs/cvmfs-2.7.3/cvmfs-fuse3-2.7.3-1.fc31.x86_64.rpm">cvmfs-fuse3-2.7.3-1.fc31.x86_64.rpm</a></li>
		</ul>
		<ul>
			<p><strong>Fedora 32</strong></p>
			<li><a href="https://ecsft.cern.ch/dist/cvmfs/cvmfs-2.7.3/cvmfs-2.7.3-1.fc32.x86_64.rpm">cvmfs-2.7.3-1.fc32.x86_64.rpm</a></li>
			<li><a href="https://ecsft.cern.ch/dist/cvmfs/cvmfs-2.7.3/cvmfs-fuse3-2.7.3-1.fc32.x86_64.rpm">cvmfs-fuse3-2.7.3-1.fc32.x86_64.rpm</a></li>
		</ul>
	</div>
</div>

<div class="tab-row">
	<div class='vendor-logo'>
		<img alt="vbox" src='images/vendor-logos/suse.png'>
	</div>
	<div class='row-links'>
		<ul>
			<p><strong>SLES 11</strong></p>
			<li><a href="https://ecsft.cern.ch/dist/cvmfs/cvmfs-2.7.3/cvmfs-2.7.3-1.suse1110.x86_64.rpm">cvmfs-2.7.3-1.suse1110.x86_64.rpm</a></li>
		</ul>
		<ul>
			<p><strong>SLES 12</strong></p>
			<li><a href="https://ecsft.cern.ch/dist/cvmfs/cvmfs-2.7.3/cvmfs-2.7.3-1.sle12.x86_64.rpm">cvmfs-2.7.3-1.sle12.x86_64.rpm</a></li>			
		</ul>
	</div>
</div>

<div class="tab-row">
	<div class='vendor-logo'>
		<img alt="vbox" src='images/vendor-logos/ubuntu.png'>
	</div>
	<div class='row-links'>
		<ul>
			<p><strong>Ubuntu 14.04</strong></p>
			<li><a href="http://ecsft.cern.ch/dist/cvmfs/cvmfs-2.7.3/cvmfs_2.7.3~1+ubuntu14.04_i386.deb">cvmfs_2.7.3~1+ubuntu14.04_i386.deb</a></li>
			<li><a href="http://ecsft.cern.ch/dist/cvmfs/cvmfs-2.7.3/cvmfs_2.7.3~1+ubuntu14.04_amd64.deb">cvmfs_2.7.3~1+ubuntu14.04_amd64.deb</a></li>
		</ul>
		<ul>
			<p><strong>Ubuntu 16.04</strong></p>
			<li><a href="http://ecsft.cern.ch/dist/cvmfs/cvmfs-2.7.3/cvmfs_2.7.3~1+ubuntu16.04_i386.deb">cvmfs_2.7.3~1+ubuntu16.04_i386.deb</a></li>
			<li><a href="http://ecsft.cern.ch/dist/cvmfs/cvmfs-2.7.3/cvmfs_2.7.3~1+ubuntu16.04_amd64.deb">cvmfs_2.7.3~1+ubuntu16.04_amd64.deb</a></li>
		</ul>
		<ul>
			<p><strong>Ubuntu 18.04</strong></p>
			<li><a href="http://ecsft.cern.ch/dist/cvmfs/cvmfs-2.7.3/cvmfs_2.7.3~1+ubuntu18.04_i386.deb">cvmfs_2.7.3~1+ubuntu18.04_i386.deb</a></li>
			<li><a href="http://ecsft.cern.ch/dist/cvmfs/cvmfs-2.7.3/cvmfs_2.7.3~1+ubuntu18.04_amd64.deb">cvmfs_2.7.3~1+ubuntu18.04_amd64.deb</a></li>
		</ul>
		<ul>
			<p><strong>Ubuntu 20.04</strong></p>
			<li><a href="http://ecsft.cern.ch/dist/cvmfs/cvmfs-2.7.3/cvmfs_2.7.3~1+ubuntu20.04_amd64.deb">cvmfs_2.7.3~1+ubuntu20.04_amd64.deb</a></li>
		</ul>
	</div>
</div>

<div class="tab-row">
	<div class='vendor-logo'>
		<img alt="vbox" src='images/vendor-logos/debian.png'>
	</div>
	<div class='row-links'>
		<ul>
			<p><strong>Debian 8</strong></p>
			<li><a href="http://ecsft.cern.ch/dist/cvmfs/cvmfs-2.7.3/cvmfs_2.7.3~1+debian8.11_amd64.deb">cvmfs_2.7.3~1+debian8.11_amd64.deb</a></li>
		</ul>
		<ul>
			<p><strong>Debian 9</strong></p>
			<li><a href="http://ecsft.cern.ch/dist/cvmfs/cvmfs-2.7.3/cvmfs_2.7.3~1+debian9.12_amd64.deb">cvmfs_2.7.3~1+debian9.12_amd64.deb</a></li>
		</ul>
		<ul>
			<p><strong>Debian 10</strong></p>
			<li><a href="http://ecsft.cern.ch/dist/cvmfs/cvmfs-2.7.3/cvmfs_2.7.3~1+debian10_amd64.deb">cvmfs_2.7.3~1+debian10_amd64.deb</a></li>
			<li><a href="http://ecsft.cern.ch/dist/cvmfs/cvmfs-2.7.3/cvmfs-fuse3_2.7.3~1+debian10_amd64.deb">cvmfs-fuse3_2.7.3~1+debian10_amd64.deb</a></li>
		</ul>
	</div>
</div>

<div class="tab-row">
	<div class='vendor-logo'>
		<img alt="vbox" src='images/vendor-logos/apple.png'>
	</div>
	<div class='row-links'>
		<ul class="fluid">
			<p><strong>macOS >= 10.13</strong></p>
			<li><a href="https://ecsft.cern.ch/dist/cvmfs/cvmfs-2.7.3/cvmfs-2.7.3.pkg">cvmfs-2.7.3.pkg</a></li>
			<p>For the time being, please use the Terminal command <pre><code>curl -o ~/Downloads/cvmfs-2.7.3.pkg https://ecsft.cern.ch/dist/cvmfs/cvmfs-2.7.3/cvmfs-2.7.3.pkg</code></pre> to download the package in order to avoid missing signature warnings on open. As of macOS 10.15 "Catalina", a reboot is required after the installation.</p>
		</ul>
	</div>
</div>

<div class="tab-row">
	<div class='vendor-logo'>
		<img alt="vbox" src='images/vendor-logos/arm.png'>
	</div>
	<div class='row-links'>
		<ul>
			<p><strong>ARMv8 / CentOS 7</strong></p>
			<li><a href="https://ecsft.cern.ch/dist/cvmfs/cvmfs-2.7.3/cvmfs-2.7.3-1.el7.aarch64.rpm">cvmfs-2.7.3-1.el7.aarch64.rpm</a></li>
			<li><a href="https://ecsft.cern.ch/dist/cvmfs/cvmfs-2.7.3/cvmfs-fuse3-2.7.3-1.el7.aarch64.rpm">cvmfs-fuse3-2.7.3-1.el7.aarch64.rpm</a></li>
		</ul>
	</div>
</div>