<footer>
  <section class="news">
    <h2>NEWS</h2>
    <div class="container">
      <div class="slider">
        {% for news in site.posts limit:4 %}
          <div class="slide">
            <div class="top">
              <a href='{{site.baseurl}}{{ news.url }}' class="title">{{ news.title }}</a>
              <p class="date">{{ news.date | date: "%d.%m.%Y" }}</p>
            </div>
            <p>{{ news.excerpt }}</p>
          </div>
        {% endfor %}
      </div>
      <div class='btn btn--outline'><a href="news.html">Go to News</a></div>
    </div>
  </section>
  <section class="support" id="support">
    <h2>SUPPORT</h2>
      <div class="container">
        <div class="link icon-bug-report">
          <p>JIRA Bug Tracker:</p>
          <a href="https://sft.its.cern.ch/jira/projects/CVM">sft.its.cern.ch/jira/projects/CVM</a>
        </div>
        <div class="link icon-email-outline">
          <p>Early Testing of New Releases:</p>
          <a href="mailto:cvmfs-testing@cern.ch">cvmfs-testing@cern.ch</a>
        </div>
        <div class="link icon-email-at">
          <p>Discussion on CernVM-FS:</p>
          <a href="mailto:cvmfs-talk@cern.ch">cvmfs-talk@cern.ch</a>
        </div>
        <div class="text">
          <p>
            The mailing lists are managed through CERN egroups and open for self registration.  Users without a CERN account can <a href="https://account.cern.ch/account/Externals/">register a lightweight account</a> to login to the egroups page.
          </p>
          <p>
            For CernVM-FS bug reports, please attach a "bugreport tarball", which is created with <code>cvmfs_config bugreport</code>.
          </p>
        </div>
      </div>
  </section>
</footer>