<header class="team">
  <div class="container">
    <div class="card">
      <div class="img cvmfs"></div>
      <div class="card-title">
        <h2>CernVM-FS</h2>
      </div>
      <div class="card-subtitle">
        <h4>CernVM File System</h4>
      </div>
      <div class='btn btn--icon_after icon-arrow'><a href="https://cernvm.cern.ch/fs/">Visit website</a></div>
    </div>
    <div class="card">
      <div class="img cernvm"></div>
      <div class="card-title">
        <h2>CernVM</h2>
      </div>
      <div class="card-subtitle">
        <h4>Software Appliance</h4>
      </div>
      <div class='btn btn--icon_after icon-arrow'><a href="https://cernvm.cern.ch/appliance/">Visit website</a></div>
    </div>
  </div>
</header>