<header class="team">
  <div class="container">
    <a href="https://cernvm.cern.ch/fs/" class="card">
      <div class="img cvmfs"></div>
      <div class="card-title">
        <h2>CernVM-FS</h2>
      </div>
      <div class="card-subtitle">
        <h4>CernVM File System</h4>
      </div>
      <div class='btn btn--icon_after icon-arrow'><span>Visit website</span></div>
    </a>
    <a href="https://cernvm.cern.ch/appliance/" class="card">
      <div class="img cernvm"></div>
      <div class="card-title">
        <h2>CernVM</h2>
      </div>
      <div class="card-subtitle">
        <h4>Software Appliance</h4>
      </div>
      <div class='btn btn--icon_after icon-arrow'><span>Visit website</span></div>
    </a>
    <!-- <div class="scroll-down-mouse"><p><span></span></p><p class="text">SCROLL</p></div> -->
  </div>
</header>