<nav class='menu transparent'>
  <div class='menu--inner'>
    <a href='/index.html' class='logo'><img src='/images/CernVM-team.png' alt="CernVM Website Logo"></a>
    <ul>
      <div class='hamburger'>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <li><a class='menu-link dropdown' href='https://cernvm.cern.ch/fs/'>File System</a>
      <li><a class='menu-link' href="https://cernvm.cern.ch/appliance/">Virtual Machine</a></li>
      <!-- <li><a class='menu-link' href="https://cernvm.cern.ch/team.html">Team</a></li> -->
      <li><a class='menu-link' href="https://cernvm.cern.ch/outreach.html">Publications</a></li>
    </ul>
  </div>
</nav>
