<section class="about our-team">
  <h2>Our Team</h2>
  <div class="container">
      <div class="team-member">
        <img src='images/team-members/man.png'>
        <div>
          <h3>Jakob Blomer</h3>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet facere laboriosam dicta itaque eum. Laudantium voluptatibus expedita atque facere quam adipisci quia est, quod, numquam autem similique, maxime temporibus ex.</p>
        </div>
      </div>
      <div class="team-member">
        <img src='images/team-members/man.png'>
        <div>
          <h3>Simone Mosciatti</h3> 
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure dignissimos rerum dolorem voluptatum doloremque a inventore deleniti asperiores. Voluptates atque possimus dolore nulla tempore? Doloremque quod ut perferendis beatae. Dolorem?</p>         
        </div>
      </div>
      <div class="team-member">
        <img src='images/team-members/woman.png'>
        <div>
          <h3>Andrea Valenzuela Ramirez</h3>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore alias molestias soluta necessitatibus illo molestiae harum esse? Voluptatem minus enim iure neque dicta perspiciatis ipsa incidunt veritatis quo! Officiis, beatae!</p>
        </div>
      </div>
  </div>
</section>