<section class="abouthack">
<!-- <section class="about our-team"> -->
  <h2>Our Team</h2>
  <div class="container">
      <div class="team-member">
        <img src='images/team-members/man.png'>
        <div>
          <h3>Jakob Blomer</h3>
          <p></p>
        </div>
      </div>
      <div class="team-member">
        <img src='images/team-members/man.png'>
        <div>
          <h3>Simone Mosciatti</h3>
          <p></p>
        </div>
      </div>
      <div class="team-member">
        <img src='images/team-members/woman.png'>
        <div>
          <h3>Andrea Valenzuela Ramirez</h3>
          <p></p>
        </div>
      </div>
  </div>
</section>