<section class="abouthack">
<!-- <section class="about our-team"> -->
  <h2>Our Team</h2>

  <!-- <h3>Current Members</h3> -->

  <div class="container">
    <h3>Current Members</h3>
    <div class="team-member">
      <img src='images/team-members/jakob.jpg'>
      <div>
        <h3>Jakob Blomer</h3>
        <p>Jakob leads the CernVM project. He joined the CernVM team in 2009, where he developed
        the CernVM File System as part of his PhD thesis. In 2012 he took over the development of the CernVM appliance.</p>
      </div>
    </div>

    <div class="team-member">
      <img src='images/team-members/woman.png'>
      <div>
        <h3>Andrea Valenzuela Ramirez</h3>
        <p></p>
      </div>
    </div>
  </div>

  <!-- <h3>Previous Members</h3>

  <div class="team-member">
    <img src='images/team-members/man.png'>
    <div>
      <h3>Simone Mosciatti</h3>
      <p></p>
    </div>
  </div> -->
</section>